{% from "_macros.html.j2" import task_row %}
{{ task_row({
    "guid": guid,
    "gid": gid,
    "url": url,
    "title": title,
    "state": state,
    "state_name": state_name,
    "state_css": state_css,
    "total": total,
    "done": done,
}) }}